@font-face{
    src: url(ttf/YesevaOne-Regular.ttf);
    font-family: 'Yeseva';
    font-style: normal;
    font-weight: 400;
 }

@font-face{
    src: url(ttf/NunitoSans_7pt-Regular.ttf);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
 }

 @font-face{
   src: url(ttf/NunitoSans_7pt-Italic.ttf);
   font-family: 'NunitoI';
   font-style: italic;
   font-weight: 400;
}

/* svg {
   pointer-events: none;
} */

body{
   margin: 0;
}

.head__foot {
   box-sizing: border-box;
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 0 auto;
   width: 100vw;   
}

 #phone-number{
   text-decoration: underline;
}

.header{
   height: 83px;
   max-width: 1263px;
   margin: 0 auto;
   background-color: #131313;
}

.footer{
   height: 133px;
   max-width: 100vw;
   margin: 0 auto;
   background: #181818;
}

.menu{
   display: inline-flex;
   align-items: center;
   gap: 47.1px;
   box-sizing: border-box;
}

.head__foot a{
   font-family: Nunito;
   font-size: 11px;
   text-decoration: none;
}

.gold {
   color: #E3B873;
}

.white {
   color: #FFF;
}

.container__wide_black{
   width:100vw;
   margin:0 auto;
   background-color: #131313;
}

.container__wide_grey{
   position: relative;
   width:100vw;
   margin:0 auto;
    background: linear-gradient(180deg, rgba(13, 13, 13, 0.8) 5.47%, rgba(13, 13, 13, 0.95) 100%); 
}

#bg{
   background: url(png/narrow_main.png);
   background-size: cover;   
}

.grey_background{
   background-color: rgba(0, 0, 0, 0.7);
}

.head{
   height:707px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding-left: 5vw;
}

.head h1{
   width: 540px;
   color: #FFF;
   font-family: Yeseva;
   font-size: 40px;
   line-height: 132.825%;
   text-transform: uppercase;
   text-align: justify;
}

.head p{
   width: 550px;
   color: #FFF;
   font-family: Nunito;
   font-size: 22px;
   line-height: 163.68%;
}

.button__block{
   display: flex;
   gap: 15px;
   flex-direction: row;
}

.button{
   width:270px;
   height:51px;
   font-family: NunitoI;
   font-size: 11px;
   font-weight: 400;
   color: #FFF;
   cursor: pointer;
   margin-top: 20px;
   border:none;

}

.button__gold{
   background-color: #E3B873;
   border-radius: 2px;
   box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
}

.button__white{
   background-color: rgba(0, 0, 0, 0.0);
}

.container{
   position: relative;
   max-width: 1295px;
   margin: 0 auto;
   padding:0 16px;

}

.completed{
   max-width: 1263px;
   display: flex;
   flex-direction: row;
   padding-left: 5vw;
}

.completed__discription{
   margin-right: 0;
   display: flex;
   flex-direction: column;
   margin-top: 176px;
   width: 442px;
} 

.completed h2{
   color: #E3B873;
   font-family: Yeseva;
   font-size: 27px;
   line-height: 138.6%;
   letter-spacing: -1.89px;
   text-transform: uppercase;
   width: 253px;
 }

.completed__images_mobile{
   display: none;
}

.completed span{
   color: #FFF;
   font-family: Nunito;
   font-size: 14px;
   line-height: 190.96%;
 }

.completed__params{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   
}

.completed__parameter{
   width: 50%;
}

.completed__params h3{
   color: #E3B873;
   font-family: Yeseva;
   font-size: 18px;
   line-height: 138.6%;
   text-transform: uppercase;
 }

.completed__params p{
   color: #FFF;
   font-family: Nunito;
   font-size: 13px;
   line-height: 163.68%;
    text-align: start;
}

.completed__menu{
   display: flex;
   flex-direction: row;
   gap:60.5px;
   margin-top: 107px;
   margin-bottom: 45px;
}

.completed__menu{
   color: rgba(255, 255, 255, 0.30);
   font-family: Yeseva;
   font-size: 14px;
   line-height: 138.6%;
   text-transform: uppercase;
   text-decoration: none;
}

.chosen, .completed__items:hover{
   color: #E3B873;
   border-bottom: 1px solid #E3B873;
   cursor: pointer;
}

.navi_icon:hover, .navi__dot:hover{
   cursor: pointer;
}

.control, .types{
   max-width: 1263px;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 92px;
}

.control__white{
   max-width: 1263px;
   width: 100%;
   margin-top: 92px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.control__white p{
   margin: 0 25px;
}

.control h1{
   color: #FFF;
   text-align: center;
   font-family: Yeseva;
   font-size: 20px;
   line-height: 138.6%;
   text-transform: uppercase;
}

.control p{
   color: #FFF;
   text-align: center;
   font-family: Nunito;
   font-size: 14px;
   line-height: 169.8%;
}

.icons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
}

.camera-icon{
   margin-bottom: 260px;
}

.line{
   flex-shrink: 0; 
   border: 0.25px solid #E3B873;
   border-radius: 30px;
   background: #E3B873;
   margin: 0 10px;
}

.line1{
   width:32px;
   height: 0.1px;
}

.line2{
   width:55px;
   margin-top: 270px;
   margin-bottom: 20px;
   height: 0.1px;
}

.vline{
   width:1px;
   height:54px;
   background: #FFF;
}

.online-camera{
   position:absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 817px;
   height: 434px;
   flex-shrink: 0;
   top: 120px;
   left: 50%;
   margin-left: -408.5px;
   background: url(png/video_thumbnail.png);
   background-size: cover;
}

.online-camera__bg{
   position:absolute;
   width: 817px;
   height: 434px;
   background: rgba(0, 0, 0, 0.70);
   z-index: 2;
   left: 50%;
   height: 434px;
   margin-left: -408.5px;
   flex-shrink: 0;
   top: 0px;   
}

.button-play{
   z-index: 3;
}

.white_bg, .blacknwhite_bg{
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 16px;
   background-color:rgba(255, 255, 255, 1.0);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
 }

.white_bg p, .blacknwhite_bg p{
   color: #363636;
   text-align: center;
   font-family: Nunito;
   font-size: 18px;
   line-height: 204.6%;
   margin: 0;
}

.submit__request{
   max-width: 1263px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
   gap:20px;
   margin-top: 91px;
}

.submit__form{
   display: flex;
   flex-direction: column;
}

.form__label{
   font-family: Nunito;
   font-size: 13px;
   line-height: 163.68%;
}

.form__label_black{
   color: rgba(54, 54, 54, 0.50);
}

.form__label_white{
   color: rgba(255, 255, 255, 0.50);
   width:408px;
}

.request_form_white{
   color: #363636;
   font-family: Nunito;
   font-size: 14px;
   line-height: 163.68%;
   border: none;
   border-bottom: solid 1px #363636;
}

.request_form_black{
   color: #FFF;
   font-family: Nunito;
   font-size: 14px;
   line-height: 163.68%;
   border: none;
   border-bottom: solid 1px #363636;
   background-color: #131313;
}
.checkbox__label {
   cursor: pointer;
 }
 .checkbox{
   display: none;
 }
 .fake{
   display: inline-flex;
   width: 18px;
   height: 18px;
   background: #E3B873;
   color: #fff;
   justify-content: center;
 }
 .fake::before{
   content:"\2714";
   opacity: 0;
   transition: .2s;
 }
 .checkbox:checked + .fake::before{
   opacity: 1;
 }

 .checkbox__text{
   color: #181818;
   font-family: Nunito;
   font-size: 14px;
   line-height: 163.68%;
 }

 .checkbox__text_black{
   color: #181818;
 }

 .checkbox__text_white{
   color: #FFF;
 }

 .submit__checkbox{
   box-sizing: border-box;
   max-width: 1263px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
   margin-top: 15px;
}


 .types h1{
   color: #181818;
   text-align: center;
   font-family: Yeseva;
   font-size: 20px;
   line-height: 138.6%;
   text-transform: uppercase;
 }

 .types__cards{
   max-width: 1263px;
   display: flex;
   flex-direction: row;
   gap:30px;
   margin-top:15px;
   margin-bottom: 200px;
 }

 .card{
   position: relative;
 }

 .card__text{
   position: absolute;
   background-color: #FFF;
   margin: 25px 29px 40px 34px;
   width:75%;
   top:65%;
   left:5%;
   box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.05);

 }

.card__text h2{
   color: #363636;
   font-family: Yeseva;
   margin-left: 34px;
   font-size: 18px;
   line-height: 138.6%;
}

li{
   color: #959595;
   font-family: Nunito;
   font-size: 13px;
   line-height: 204.6%;
}

.button__cost{
   position: relative;
   width:228px;
   height:54px;
   background-color: #E3B873;
   border-radius: 2px;
   box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
   color: #FFF;
   font-family: Yeseva;
   font-size: 18px;
   line-height: 138.6%;
   text-transform: uppercase;
   border:none;
   bottom:-27px;
}

.request{
   display: flex;
   flex-direction: row;
   margin-left: 0;
   max-width: 1263px;
   width:100%;
   justify-content: space-between;
   margin-bottom: 200px;
}

.request__plan{
   position: relative;
   box-sizing: border-box;
   width:703px;
   height:645px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap:15%;
}

#background_city{
   position: absolute;
   left:calc(631.5px - 50vw);
   bottom:0;
}

.request__plan p{
   color: #363636;
   font-family: Nunito;
   font-size: 14px;
   line-height: normal;
   max-width: 370px;
   text-align: start;
}

.request__plan_list{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   margin-left: 200px;
}

.round-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 41.757px;
   height: 41.757px;
   flex-shrink: 0;
   border-radius: 30px;
   border: 8px solid #FFF;
   background: #E3B873;
   box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
   color: #FFF;
   text-align: center;
   font-family: Yeseva;
   font-size: 18px;
   line-height: 138.6%;
}

.request__form_card{
   position: relative;
   box-sizing: border-box;
   width:506px;
   height:509px;
   background-color: #131313;
   box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
   padding: 25px 49px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-right: 83px;
   margin-top: 100px;
}

.request__form_card h1{
   color: #FFF;
   text-align: center;
   font-family: Nunito;
   font-size: 18px;
   line-height: 143.22%;
   max-width: 300px;
}

#call{
   align-self: flex-end;
}

.discount{
   position: absolute;
   display: flex;
   flex-direction: row;
   justify-self: flex-end;
   align-items: center;
   margin-bottom: 200px;
   bottom: -320px;

   align-self: end;
}

.discount p{
   
   color: #E3B873;
   text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
   font-family: Nunito;
   font-size: 18px;
   line-height: 143.22%;
   text-align: start;
   width: 250px;
}

#bg2{
   background: url(png/background_image_2.png) no-repeat;
   background-size: cover;
   width:100vw;
}

.fantasy{
   box-sizing: border-box;
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   padding-bottom: 208px;
   padding-top: 50px;
   height:864px;
}

.fantasy h1{
   color: #E3B873;
   font-family: Yeseva;
   font-size: 27px;
   line-height: 138.6%;
   text-transform: uppercase;
   width:300px;
}


.fantasy h2{
   color: #E3B873;
   font-family: Nunito;
   font-size: 20px;
   line-height: 190.96%;
   text-decoration: underline;
}

.fantasy p{
   color: #FFF;
   font-family: Nunito;
   font-size: 20px;
   line-height: 190.96%;
   text-align: start;
}

.fantasy_img{
   position: absolute;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width:354px;
   gap:37px;
   max-height: 1200px;
   top:-110px;
   right:500px;
}

.fantasy_img img:first-child{
margin-top: 60px;
}

.fantasy_mobile{
   display:none;
}

.clients{
   position: relative;
   max-width: 1263px;
   box-sizing: border-box;
   margin-top: 50px;
   margin-bottom: 0px;
}

.clients h1{
   color: #181818;
   text-align: center;
   font-family: Yeseva;
   font-size: 20px;
   line-height: 138.6%;
   text-transform: uppercase;
   
}

.clients p{
   color: #363636;
   text-align: center;
   font-family: Nunito;
   font-size: 18px;
   line-height: 163.68%;
   width: 400px;
   margin: 10px auto 0;
}

.clients__cards{
   max-width: 1263px;
   position: relative;
   display: flex;
   flex-direction: row;
   margin-left: 132px;
   margin-bottom: 300px;
}

.clients__card{
   display: flex;
   flex-direction: column;
   width: 35%;
}

.button__client{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width:294px;
   height:54px;
   font-family: Yeseva;
   font-size: 17px;
   font-weight: 400;
   line-height: 138.6%;
   color: #FFF;
   cursor: pointer;
   background-color: #E3B873;
   border-radius: 2px;
   box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
}

.client__personal{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap:35px;
}

.client__personal h2{
   color: #181818;
   font-family: Yeseva;
   font-size: 18px;
   line-height: 127.05%;
   width: 200px;
}

.client-photo{
   border-radius: 50%;
}

.clients__card p{
   color: #959595;
   font-family: Nunito;
   font-size: 13px;
   line-height: 180%;
   margin: 10px 50px 50px 0;
   width: 80%;
   text-align: start;
}

#city{
   position: absolute;
   bottom:0px;
   z-index: 1;
   width: 100vw;
}

#city_left{
   position: absolute;
   bottom:-300px;
   z-index: 1;
   left:-30vw; 
   width: 50vw;
}

#city_right{
   position: absolute;
   bottom:-300px;
   z-index: 1;
   right:-30vw;
   width: 50vw;

}
.questions{
   position: absolute;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height:445px;
   width: 883px;
   background-color: rgba(19, 19, 19, 1);
   padding-left: 50px;
   padding-right: 100px;
   z-index: 2;
   top: calc(-445px / 2);
   left:50%;
   margin-left: -441.5px;
}

.questions h1{
   color: #FFF;
   text-align: center;
   font-family: Yeseva;
   font-size: 20px;
   line-height: 138.6%;
   text-transform: uppercase;
}

.submit__2forms{
   display: flex;
   flex-direction: row;
   gap:200px;
}

.form__label_quest{
   width: 231px;
   color: rgba(255, 255, 255, 0.50);
}

.navi_bg{
   width: 100vw;
   background: url(png/background_image_3.png) no-repeat;
   background-size:cover; 
}

.navi{
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   
   
}

.navi h1{
   color: #E3B873;
   text-align: center;
   font-family: Yeseva;
   font-size: 20px;
   line-height: 138.6%;
   text-transform: uppercase;
   max-width: 600px;
   margin-top: 300px;   
}

.navi img{
   margin-bottom: 50px;
}

@media screen and (max-width:1300px) {
   .head__foot a:nth-child(3){
      color:#FFF;
      text-decoration: none;
   }

   .menu{
      display: none;
   }

   .head{
      padding-left: 18px;
      height: 476px;
   }
   
   .head h1{
      font-size: 23px; 
      width: 80vw;
   }

   .head p{
      font-size: 14px;
      width: 80vw;
   }

   .button{
      width: 100%;
      
   }

   .completed{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      margin: 0 auto;

   }

   .completed h2{
      font-size: 22px;
      letter-spacing: -1.54px;
      text-transform: uppercase;
      width: 80vw;
      text-align: center;
   }

   .completed__images_mobile{
      display: block;
   }

   .completed span{
      text-align: center;
      font-family: Nunito;
      font-size: 11px;
   }

   .completed__discription{
      align-items: center;
      overflow:hidden;
      margin-top:25px;
      width: 100%;
      margin:0 auto;
   } 

   .completed__discription span{
      margin: 0 25px;      
   } 

   .completed__images{
      display: none;
   }

   .completed__params{
      width: 100vw;
      padding: 0 50px;
      z-index: 5;
   }

   .completed__params p{
      margin: 0;
   }

   .completed__params h3{
      font-size: 14px;
      max-width: 100%;
   }

   #complete__navi_icon{
      display: none;
   }

   .control{
      margin-top: 31px;
   }

   .control h1{
      font-size: 22px;
   }

   .camera-icon{
      margin-bottom: 0;
   }

   .online-camera{
      position: relative;
      width: 95vw;
      height:50.465vw;
      /* height: 100%; */
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      margin-left: 0;
      margin-top: 25px;      
   }

   .button-play svg{
      width: 75px;
      height:75px;
   }

   .blacknwhite_bg{
      box-sizing: border-box;
      width: 100vw;
      background-color: #131313;
   }

   .online-camera__bg{
      width: 95vw;
      height:50.465vw;
      left: 50%;
      margin-left: -47.5vw;
      top: 0px;   
    }

    .control__white{
      box-sizing: border-box;
      margin-top: 0px;
      margin-left: 0;
      text-align: center;
      overflow: hidden;
   }

   .control__white p{
      color: #FFF;
      text-align: center;
      font-family: Nunito;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 169.8%;
   }


   .line2{
      margin-top: 20px;
   }

   .blacknwhite_bg p{
      color: #FFF;
      font-size: 11px;
      line-height: 169.8%;
      margin: 0 25px;
   }

   .submit__request{
      position: relative;
      margin-top: 50px;
      flex-direction: column;
      align-items: center;
      gap: 100px;
   }

   .form__label_black{
      color: #fff;
   }

   .request_form_white{
      color: #fff;
      background-color: #131313;
      line-height: 138.72%;
      width: 90vw;
   }

   .checkbox__text_black{
      color: #fff;
   }

   .submit__checkbox{
      margin-top: 50px;
      margin-bottom:100px;
   }

   #submit{
      position: absolute;
      width: 95vw;
      height: 51px;
      bottom:-200px;
      left:50%;
      margin-left:-47.5vw ;
   }
   .types__cards{
      flex-direction: column;
      align-items: center;
      gap:250px;
   }

   .card{
      max-width: 500px;
   }

   .card img{
      width: 100%;
      max-width: 565px;
    }
   
   .card__text{
      left:0;
      margin-left: 0;
      padding-right: 30px;
      width: auto;
   }

   .card__text h2{
      font-size: 15px;
      line-height: 138.6%
   }
   
   .button__cost{
      font-size: 15px;
   }
   .request{
      display:none;
   }

   #bg2{
      display: none;
   }

   .fantasy_mobile{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-top: 50px;
      padding-bottom: calc((50vw - 18px)/1.66);
   }

   .fantasy_mobile h1{
      color: #E3B873;
      font-family: Yeseva;
      font-size: 22px;
      line-height: 138.6%;
      text-transform: uppercase;
      text-align: center;
      margin: 25px 50px;
   }

   .fantasy_mobile img{
      position: absolute;
      width:calc(100vw - 36px);
      z-index: 3;
      bottom:calc((-50vw + 18px)/1.66);
   }
   
   .fantasy_mobile_navi_buttons{
      position: absolute;
      width:calc(100vw - 36px);
      z-index: 4;
      bottom:-7vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .clients{
      margin-top: 0px;
      background-color: #181818;
   }

   .clients_widescreen{
      display:none;
   }

   .questions{
      box-sizing: border-box;
      position:relative;
      width:calc(100vw - 16px); 
      height:auto;
      top:0px;
      left:0px;
      margin: 0 auto;
      padding-top: calc((50vw - 18px)/1.66);
      padding-left: 0px;
      padding-right: 16px;
      padding-bottom: 50px;
      background-color: #181818;
      z-index: 1;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }  
   .submit__2forms{
      flex-direction: column;
      gap: 0px;      
      width: 100%;
   }

   .questions .submit__form{
      width: 100%;
   }

   .questions .submit__form input{
      background-color: #181818;
   }

   .navi_bg{
      height: auto;
      background: #181818;
      padding-bottom: 50px;
   }

   .map{
      width:calc(100vw - 36px);
      order: -1;
   }

   .navi h1{
      margin: 0 auto;
   }

   .footer{
      display: none;
   }
}